[Desktop Entry]
Name=Quick Tile 2
Comment=Allows quick tiling support like the 2x2 Snap feature in Windows 10. Original author Koen Hausmans (koen@hausmans.nl)
Icon=preferences-system-windows-script-test

Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Torstein Soernes
X-KDE-PluginInfo-Email=t.soernes@gmail.com
X-KDE-PluginInfo-Name=quick-tile-2
X-KDE-PluginInfo-Version=0.1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginKeyword=quick-tile-2

